*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

h2{
    padding: 15px;
}

p{
    padding: 15px;
    font-size: 18px;
}

/*  Aqui o arredondamento é feito usando border-radius*/

.caixa{
    padding: 15px;
    width: 300px;
    height: 300px;
    background: royalblue;
    color: white;
    text-align: justify;
    line-height: 25px;
    border-radius: 20px;
}