body{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: #f2f2f2;
}

#container{
    width: 80%;
    margin: 0 auto;
    background: #fff;
    min-width: 700px;
    max-width: 1100px;
}

#marca{
    width: 100%;
    height: 200px;
    background: #225992 url(../imagem/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
}

#conteudo{
    width: 78%;
    float: right;
    text-align: justify;
}

#artigos{
    padding: 20px ;
    width: 61%;
    float: left;
}

img.img{
    width: 99%;
    padding: 1%;
    max-width: 600px;
}

#sidebar{
    padding: 20px 25px;
    width: 21%;
    float: right;
    background: #d1d1d1;
}

#navegacao{
    padding: 25px 0 20px 0;
    width: 20%;
    float: left;
    background: #d1d1d1;
    line-height: 40px;
}

ul{
    list-style: none;
}

ul li a{
    font-size: 18px;
    text-decoration: none;
    line-height: 30px;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: blue;
}

#rodape{
    clear: both;
    background: #9e9e9e;
    text-align: center;
    line-height: 70px;
    font-size: 22px;
}