body{
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul#navegacao-horizontal{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 573px;
    background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
    float: left;
}

ul#navegacao-horizontal li{
    float: left;
   
}

ul#navegacao-horizontal a{
    display: block;
    padding: 0 2em;
    line-height: 2.5em;
    text-decoration: none;
    color: white;
    background: url(../imagens/divisor.png) repeat-y left top;
}

ul#navegacao-horizontal .primeiro a{
    background: none;
}

ul#navegacao-horizontal a:hover{
    color: #085662;
    background: #44cade;
}

#home #navegacao-horizontal .home a,
#servicos #navegacao-horizontal .servicos a,
#noticias #navegacao-horizontal .noticias a,
#contato #navegacao-horizontal .contato a,
#sobre #navegacao-horizontal .sobre a{
    color: #085662;
    background: #44cade;
}