*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    padding: 30px 40px;
    background: steelblue;
    text-align: center;
    color: white;
    font-size: 210%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

fieldset{
    margin: 30px 80px;
    padding: 20px;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend{
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

label{
    display: block;
    cursor: pointer;
    padding-bottom: 3px;
}

input{
    width: 25em;
    margin-bottom: 12px;
}

textarea{
    width: 25em;
    height: 10em;
}

input.radio{
    width: auto;
    margin-right: 1em;
}